
/*
.BlackOrangeClass {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: orange;
}

.TealTomatoClass {
    font-family: 'Times New Roman', Times, serif;
    background-color: teal;
    color: tomato;
}

#WhiteText {
    color: White;
}
*/